/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-color: black;
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  height:100vh;
  display:grid;
  grid-template-rows: 1fr max-content 1fr;
  overflow:hidden;
}

h1 {
  color:var(--color-headings);
  margin:0;
  padding: 1em;

  display: flex;
  justify-content: center;
}

ol {
  width:100vw;
  padding: 0 calc(50vw - 10em);
  margin: 0;
  list-style: none;

  display: flex;
  gap:calc(50vw - 30em);
  overflow: hidden;
  /* white-space: nowrap; --> is de default */
  align-items: center;

  /* background-color: yellow; */

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

li {
  background-color: blueviolet;
  padding: 1em;
  
  aspect-ratio: 1/1;
  height: 30em;

  scroll-snap-align: center;
}


