/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-color: black;
  transition: background-image 1s ease-in-out;

}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
}

button:not([disabled]) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
}


/********************/
/* ALGEMENE STYLING */
/********************/

body {
  height:100vh;
  display:grid;
  grid-template-rows: 1fr max-content 1fr;
  overflow:hidden;
}

h1 {
  color:var(--color-headings);
  margin:0;
  padding: 1em;

  display: flex;
  justify-content: center;
}

/* De platenalbums */

ol {
  width:100vw;
  padding: 0 calc(50vw - 15em);
  margin: 0;
  list-style: none;

  display: flex;
  gap:calc(50vw - 30em);
  overflow: hidden;
  /* white-space: nowrap; --> is de default */
  align-items: center;

  /* background-color: yellow; */

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

li {
  background-color: blueviolet;
  
  aspect-ratio: 1/1;
  height: 30em;

  scroll-snap-align: center;
  /* transition: transform 0.5s ease; */
}

/* .carousel-image {
  width: 100%;
  height: 100%;
}

.active .carousel-image {
  width: 150%;
  height: 150%;
} */


/* De scroll bolletjes */

nav {
  position: absolute;
	left: 2em; right: 2em;
	bottom: 6em;
	margin: 0;
  padding: 0 0 .5em;
  list-style: none;
	
	display: flex;
/* 	flex-wrap:wrap; */
  justify-content: center;
  gap:.4em;
}

nav a {
  flex-basis: 1.2em;
	aspect-ratio: 1/1;

  width:100%;
  height:100%;

  text-decoration: none;
	color: blueviolet;
  background-color: yellow;
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  
  transition: 0.5s;
}

nav a:hover {
  color: yellow;
  background-color: blueviolet;
}


